.env
.env.*
!.env.example
.git
.github
.idea
.vscode
node_modules
vendor
public/build
public/hot
public/storage
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
.phpunit.result.cache
Dockerfile
docker-compose*.yml